<script>
	import { onMount } from "svelte"
	import Map from "./Map.svelte"
	import Marker from "./Marker.svelte"
	import ScooterInfo from "./ScooterInfo.svelte"
	import { postJSON } from './fetchJSON'
	import { long, lat } from './stores'
	import "tachyons/css/tachyons.min.css"


	let distance = 250
	let quantity = 50

	let error = ''

	let scooters = []

	const findMarker = async (long, lat, distance, quantity) => {
		try {
			const data = {
				location: {
					long: parseFloat(long), 
					lat: parseFloat(lat),
				},
				distance,
				quantity,
			}

			const response = await postJSON('/api/find', data)
			scooters = response.results
		} catch (err) {
			error = err
		}
	}

		let timer;

	const debounce = fn => {
		clearTimeout(timer);
		timer = setTimeout(() => {
			fn();
		}, 750);
	}

	$: debounce(() => { findMarker($long, $lat, distance, quantity) })

	onMount(async () => {
		findMarker($long, $lat, distance, quantity)
	})

</script>

<main>
	<section class="mw8 center mb5">
		<h1 class="tc f3 f2-m f1-l fw2 black-90 mv3">Beam me up!</h1>
		<h2 class="tc f5 f4-m f3-l fw2 black-50 mt0 lh-copy">
			Find e-scooters in Singapore
		</h2>

		{#if error.length > 0}
			<h2 class="tc f5 f4-m f3-l fw2 red mt0 lh-copy">{error}</h2>
		{/if}
	</section>


	<div class="mw8 center mb5">
		<Map>
			{#each scooters as m (m.uid) }
				<Marker lat={m.location.lat} long={m.location.long} />
			{/each}
		</Map>
		<p class="tc f6 f6-m f5-l fw2 black-50 mt4 lh-copy">Left click the map to select a new Lat/Long, or modify the form below.</p>
	</div>

	<div class="flex flex-wrap justify-around mw8 center">
		<form class="mh2 black-80">
			<div class="measure">
				<label for="long" class="f6 b db mb2">Long</label>
				<input bind:value={$long} class="input-reset ba b--black-20 pa2 mb2 db w-100"  type="text">

				<label for="lat" class="f6 b db mb2">Lat</label>
				<input bind:value={$lat} class="input-reset ba b--black-20 pa2 mb2 db w-100"  type="text">

				<label for="distance" class="f6 b db mb2">Distance <span class="normal black-60">(meters)</span></label>
				<input type="number" bind:value={distance} class="input-reset ba b--black-20 pa2 mb2 db w-100">

				<label for="quantity" class="f6 b db mb2">Quantity</label>
				<input type="number" bind:value={quantity} class="input-reset ba b--black-20 pa2 mb2 db w-100">
			</div>
		</form>

		<div class="mh2">
			<ScooterInfo {scooters} />
		</div>
	</div>
</main>
