<script>
	import L from "leaflet"
	import { long, lat } from './stores'
	import "leaflet/dist/leaflet.css"
	import { setContext, getContext, onMount } from "svelte"

	let mapContainer, map

	map = L.map(L.DomUtil.create('div'), {
		center: [$lat, $long],
		zoom: 18
	})
	setContext(L, map)

	L.tileLayer(
		'https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png',
		{
			attribution: `&copy;<a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>,
			&copy;<a href="https://carto.com/attributions" target="_blank">CARTO</a>`,
			maxZoom: 18,
		}
	).addTo(map)

	map.on('click', (ev) => {
		const p = map.mouseEventToLatLng(ev.originalEvent);
		long.set(p.lng)
		lat.set(p.lat)

		map.panTo(p)
	})

	onMount(() => {
		mapContainer.appendChild(map.getContainer())
		map.getContainer().style.width = '100%'
		map.getContainer().style.height = '100%'
		map.invalidateSize()
	})

	// hardcoded boundary to show where scooters are populated
	var editableLayers = L.featureGroup().addTo(map);
	L.rectangle([
		[1.21232570435722, 103.750225426525],
		[1.36799422300829, 103.919508833671],
	]).addTo(editableLayers)
</script>

<style>
	.map {
		height: 50vh;
		width: 100%;
	}
</style>

<div class='map' bind:this={mapContainer}>
	<slot></slot>
</div>
