<script>
	export let scooters
</script>

<table class="f6 w-100" cellspacing="0">
	<thead>
		<tr>
			<th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">UID</th>
			<th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Distance (m)</th>
		</tr>
	</thead>
	<tbody class="lh-copy">
		{#each scooters as scooter (scooter.uid)}
			<tr>
				<td class="pv3 pr3 bb b--black-20">{scooter.uid}</td>
				<td class="pv3 pr3 bb b--black-20">{parseInt(scooter.distance)}</td>
			</tr>
		{/each}
	</tbody>
</table>
